<!--views/index.ejs-->
<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/_header') %>
  <title>Home Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
</head>

<body>
  <h1>Home</h1>
  <h2>Public Quizzes</h2>
  <div id="quiz-container"> <!-- Container to display quizzes -->
  <% if (!username) { %>
    <p>Make an account to attempt</p>
    <p>or login to create quizzes</p>
    <% quizzes.forEach((quiz) => { %>
      <div>
        <h3="/quiz/<%= quiz.id %>"><%= quiz.title %></h3>
      </div>
    <% }); %>
  <% } else { %>
    <% quizzes.forEach((quiz) => { %>
      <div>
        <a href="/quiz/<%= quiz.id %>"><%= quiz.title %></a>
      </div>
    <% }); %>
  <% } %>
  </div>
  <script defer src="/scripts/app.js"></script>
</body>

</html>